In [1]:
import pandas as pd
import sqlalchemy

### <Pharmacy Database의 Hospital, Pharmacy 생성 및 데이터 insert 과정>

### hopitalInfo : 병원 정보 데이터프레임, pharmacyInfo : 약국 정보 데이터프레임

In [2]:
hospitalDf = pd.read_csv('src/csv/hospitalInfo.csv', encoding = "cp949")
pharmacyDf = pd.read_csv('src/csv/pharmacyInfo.csv', encoding = "cp949")

### hopitalInfo의 필요한 칼럼만 추출

In [3]:
hospitalDf = hospitalDf[['요양기관명', '종별코드명', '시도코드명', '우편번호', '주소', '개설일자', '총의사수']]
hospitalDf = hospitalDf.loc[ (hospitalDf['시도코드명'] == '서울') & ((hospitalDf['종별코드명'] == '의원')|(hospitalDf['종별코드명'] == '치과의원')|(hospitalDf['종별코드명'] == '병원'))]
hospitalDf = hospitalDf.drop('시도코드명', 1)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\2732916920.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  hospitalDf = hospitalDf.drop('시도코드명', 1)

### hopitalInfo 중복 없음

In [4]:
hospitalDf.duplicated(keep = False).value_counts()

False    14417
dtype: int64

### pharmacyInfo의  필요한 칼럼만 추출 및 우편번호 칼럼을 float -> int로 형변환

In [5]:
pharmacyDf = pharmacyDf[['요양기관명', '시도코드명', '우편번호', '주소', '개설일자']]
pharmacyDf = pharmacyDf.loc[ pharmacyDf['시도코드명'] == '서울']
pharmacyDf = pharmacyDf.drop('시도코드명', 1)
pharmacyDf['우편번호'] = pharmacyDf['우편번호'].apply(lambda x: int(x))

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\1453920427.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  pharmacyDf = pharmacyDf.drop('시도코드명', 1)

### pharmacyInfo 중복 없음

In [6]:
pharmacyDf.duplicated(keep = False).value_counts()

False    5414
dtype: int64

### location : 우체국의 우편번호 db 데이터프레임

In [7]:
import pandas as pd
location = pd.read_csv('src/txt/seoul.txt', sep = "|")

### location의 필요한 칼럼만 추출 및 중복 제거

In [8]:
location = location[['우편번호', '도로명', '법정동명']]
location.drop_duplicates(inplace = True)

### hopitalMerge : location과 hopitalInfo를 우편번호 기준으로 병합한 데이터프레임

In [9]:
hospitalMerge = pd.merge(location, hospitalDf, on = '우편번호', how = 'outer')

### pharmacyMerge : location과 pharmacyInfo를 우편번호 기준으로 병합한 데이터프레임

In [10]:
pharmacyMerge = pd.merge(location, pharmacyDf, on = '우편번호', how = 'outer')

In [98]:
# 법정동명 칼럼에 NULL 이 있는 row 제거 -> 0으로 처리
# c.f ) 요양기관명만 있는 dong이 null인 것들은 12개 -> 수동으로 데이터프레임에 추가
hospitalDongNotNull = hospitalMerge.dropna(subset = ['법정동명'])

In [437]:
# 요양기관명 칼럼에 NULL 이 있는 row 제거
hospitalNameNotNull = hospitalMerge.dropna(subset = ['요양기관명'])

In [14]:
# 법정동명 칼럼에 NULL 이 있는 row 제거
# c.f ) 요양기관명만 있는 dong이 null인 것들은 6개 -> 수동으로 데이터프레임에 추가
pharmacyDongNotNull = pharmacyMerge.dropna(subset = ['법정동명'])

In [438]:
# 요양기관명 칼럼에 NULL 이 있는 row 제거
pharmacyNameNotNull = pharmacyMerge.dropna(subset = ['요양기관명'])

### hospitalNameNotNull 중복 없음

In [439]:
hospitalNameNotNull.duplicated(keep = False).value_counts()

False    95504
dtype: int64

### pharmacyNameNotNull 중복 없음

In [440]:
pharmacyNameNotNull.duplicated(keep = False).value_counts()

False    36103
dtype: int64

In [ ]:
# 다음과 같이 법정동명외 모든 칼럼이 같아도 법정동명이 다르면 다른 칼럼(법정동명 외 모든 칼럼에 적용)

In [441]:
pharmacyNameNotNull.loc[pharmacyNameNotNull['도로명'] == '동일로126길']

       우편번호      도로명 법정동명 요양기관명                          주소        개설일자  약국수
51488  2093  동일로126길  상봉동  동아약국  서울특별시 중랑구 동일로130길 52 (중화동)  1988-07-04    1
51494  2093  동일로126길  중화동  동아약국  서울특별시 중랑구 동일로130길 52 (중화동)  1988-07-04    1

In [ ]:
# hospitalNameNotNull 전처리

In [442]:
hospitalNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\1813802646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

In [443]:
hospitalNameNotNull.drop_duplicates(inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\1680389509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalNameNotNull.drop_duplicates(inplace = True)

In [ ]:
# pharmacyNameNotNull 전처리

In [447]:
pharmacyNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\3485949171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pharmacyNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

In [448]:
pharmacyNameNotNull.drop_duplicates(inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\3375725939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pharmacyNameNotNull.drop_duplicates(inplace = True)

In [450]:
hospitalNameNotNull = hospitalNameNotNull.rename(columns = {'요양기관명':'name', '종별코드명':'type', '도로명':'loadAddress', '주소':'address', '개설일자':'startDate', '총의사수':'totalDoctor'})
hospitalNameNotNull['index'] = 0
for i in range(hospitalNameNotNull.shape[0]):
    hospitalNameNotNull.iloc[i,6] = i

In [451]:
pharmacyNameNotNull= pharmacyNameNotNull.rename(columns = {'요양기관명':'name', '종별코드명':'type', '도로명':'loadAddress', '주소':'address', '개설일자':'startDate'})
pharmacyNameNotNull['index'] = 0
for i in range(pharmacyNameNotNull.shape[0]):
    pharmacyNameNotNull.iloc[i,4] = i

In [453]:
hospitalNameNotNull[hospitalNameNotNull['loadAddress'].isna()]

Empty DataFrame
Columns: [loadAddress, name, type, address, startDate, totalDoctor, 병원수, index]
Index: []

In [455]:
pharmacyNameNotNull[pharmacyNameNotNull['loadAddress'].isna()]

Empty DataFrame
Columns: [loadAddress, name, address, startDate, 약국수, index]
Index: []

In [458]:
hospitalNameNotNull.drop(['병원수'], axis = 1, inplace = True)

In [461]:
pharmacyNameNotNull.drop(['약국수'], axis = 1, inplace = True)

In [462]:
hospitalNameNotNull.duplicated().value_counts()

False    90591
dtype: int64

In [463]:
pharmacyNameNotNull.duplicated().value_counts()

False    34140
dtype: int64

### MYSQL의 pharmacy database에 테이블 생성 후 데이터 insert

In [432]:
db_connection_str = 'mysql+pymysql://root:jycforest@localhost/pharmacy'
db_connection = sqlalchemy.create_engine(db_connection_str)
conn = db_connection.connect()

In [464]:
hospitaltypesql = {
    'loadAddress':sqlalchemy.types.VARCHAR(30),
    'name':sqlalchemy.types.VARCHAR(30),
    'type':sqlalchemy.types.VARCHAR(5),
    'address':sqlalchemy.types.VARCHAR(150),
    'startDate':sqlalchemy.types.VARCHAR(30),
    'totalDoctor':sqlalchemy.types.Integer(),
    'index':sqlalchemy.types.Integer()
}

In [465]:
hospitalNameNotNull.to_sql(name = 'hospital', con = db_connection, if_exists = 'replace', index = False, dtype = hospitaltypesql)

90591

In [466]:
pharmacytypesql = {
    'loadAddress':sqlalchemy.types.VARCHAR(30),
    'name':sqlalchemy.types.VARCHAR(30),
    'address':sqlalchemy.types.VARCHAR(150),
    'startDate':sqlalchemy.types.VARCHAR(30),
}

In [467]:
pharmacyNameNotNull.to_sql(name = 'pharmacy', con = db_connection, if_exists = 'replace', index = False, dtype = pharmacytypesql)

34140

### <Pharmacy Database의 Convenience 생성 및 데이터 insert 과정>

In [183]:
convDf = pd.read_csv('src/csv/conv.csv', encoding = "cp949")

### 1차 전처리

In [184]:
convDf.reset_index(drop = True, inplace = True)
convDf = convDf[['영업상태명','인허가일자', '도로명주소', '도로명우편번호', '사업장명']]
convDf = convDf.loc[(convDf['영업상태명'] == '영업/정상') | (convDf['영업상태명'] == '휴업')]

### 우편번호값이 nan이라 location과 합치지 못하는 행들 -> 제외하지 않고 db에 같이 넣음. 이후 수동으로 데이터프레임에 추가

In [185]:
convDf.loc[convDf['도로명주소'].isnull() == True]

       영업상태명     인허가일자 도로명주소  도로명우편번호          사업장명
9392   영업/정상  20210517   NaN      NaN  씨스페이스 여의도4호점
9393   영업/정상  20210517   NaN      NaN  씨스페이스 여의도3호점
11356  영업/정상  20190423   NaN      NaN  지에스25한강반포1호점

In [186]:
convDf.loc[convDf['도로명우편번호'].isnull() == True]

       영업상태명     인허가일자                       도로명주소  도로명우편번호          사업장명
9392   영업/정상  20210517                         NaN      NaN  씨스페이스 여의도4호점
9393   영업/정상  20210517                         NaN      NaN  씨스페이스 여의도3호점
11174  영업/정상  20121107  서울특별시 서초구 바우뫼로37길 38 (양재동)      NaN    지에스25양재윤현점
11356  영업/정상  20190423                         NaN      NaN  지에스25한강반포1호점

In [187]:
convDf.loc[convDf.isna().any(axis = 1)]

       영업상태명     인허가일자                       도로명주소  도로명우편번호          사업장명
9392   영업/정상  20210517                         NaN      NaN  씨스페이스 여의도4호점
9393   영업/정상  20210517                         NaN      NaN  씨스페이스 여의도3호점
11174  영업/정상  20121107  서울특별시 서초구 바우뫼로37길 38 (양재동)      NaN    지에스25양재윤현점
11356  영업/정상  20190423                         NaN      NaN  지에스25한강반포1호점

In [188]:
for i in range(convDf.shape[0]):
    if pd.isna(convDf.iloc[i,3]) == False:
        convDf.iloc[i,3] = str(int(convDf.iloc[i,3]))

In [189]:
# convDf['도로명우편번호'] = convDf['도로명우편번호'].apply(lambda x: str(int(x)))
convDf.rename(columns = {'도로명우편번호':'우편번호'}, inplace = True)

### 기준 DB

In [190]:
location = pd.read_csv('src/txt/seoul.txt', sep = "|")

In [191]:
location = location[['우편번호', '도로명', '법정동명']]
location.drop_duplicates(inplace = True)

### convDf의 우편번호 타입 변경

In [192]:
for i in range(convDf.shape[0]):
    if pd.isna(convDf.iloc[i,3]) == False:
        convDf.iloc[i,3] = int(convDf.iloc[i,3])

### convMerge : 편의점 데이터와 location를 우편번호 기준으로 outer 방식으로 합친 데이터프레임

In [488]:
convMerge = pd.merge(convDf, location, on = '우편번호', how = 'outer')

C:\Users\USER\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

In [522]:
convMerge

,영업상태명,인허가일자,도로명주소,우편번호,사업장명,도로명,법정동명
0,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,율곡로,종로6가
1,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,율곡로30길,종로6가
2,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로,종로6가
3,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로41길,종로6가
4,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로43길,종로6가
...,...,...,...,...,...,...,...
58740,NaN,NaN,NaN,2117.0,NaN,중랑역로,중화동
58741,NaN,NaN,NaN,2115.0,NaN,망우로,중화동
58742,NaN,NaN,NaN,2115.0,NaN,망우로25길,중화동
58743,NaN,NaN,NaN,2115.0,NaN,중랑천로,중화동
58744,NaN,NaN,NaN,2095.0,NaN,동일로,중화동

In [476]:
# 법정동명 칼럼에 NULL 이 있는 row 제거 -> 0으로 처리
# c.f ) 요양기관명만 있는 dong이 null인 것들은 19개(이것도 db에 포함 이후 수동으로 데이터프레임에 포함)
convDongNotNull = convMerge.dropna(subset = ['법정동명'])

In [477]:
convDongNotNull

,영업상태명,인허가일자,도로명주소,우편번호,사업장명,도로명,법정동명,편의점수
0,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,율곡로,종로6가,1
1,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,율곡로30길,종로6가,1
2,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로,종로6가,1
3,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로41길,종로6가,1
4,영업/정상,20151204.0,서울특별시 종로구 율곡로 294 (종로6가),3124.0,(주)코리아세븐 동대문점,종로43길,종로6가,1
...,...,...,...,...,...,...,...,...
58740,NaN,NaN,NaN,2117.0,NaN,중랑역로,중화동,0
58741,NaN,NaN,NaN,2115.0,NaN,망우로,중화동,0
58742,NaN,NaN,NaN,2115.0,NaN,망우로25길,중화동,0
58743,NaN,NaN,NaN,2115.0,NaN,중랑천로,중화동,0
58744,NaN,NaN,NaN,2095.0,NaN,동일로,중화동,0

In [523]:
# 사업장명 칼럼에 NULL 이 있는 row 제거
convNameNotNull = convMerge.dropna(subset = ['사업장명'])

In [524]:
# 중복 없음
convNameNotNull.duplicated(keep = False).value_counts()

False    50893
dtype: int64

In [525]:
convNameNotNull[convNameNotNull['도로명'].isna()]

Empty DataFrame
Columns: [영업상태명, 인허가일자, 도로명주소, 우편번호, 사업장명, 도로명, 법정동명]
Index: []

### convNameNotNull 데이터 최종 전처리

In [526]:
convNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\1812499076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  convNameNotNull.drop(['우편번호', '법정동명'], axis = 1, inplace = True)

In [527]:
convNameNotNull['인허가일자'] = convNameNotNull['인허가일자'].apply(lambda x: str(int(x)))

C:\Users\USER\AppData\Local\Temp\ipykernel_24132\739557494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  convNameNotNull['인허가일자'] = convNameNotNull['인허가일자'].apply(lambda x: str(int(x)))

In [528]:
convNameNotNull = convNameNotNull[['인허가일자', '도로명주소', '사업장명', '도로명']]

In [529]:
convNameNotNull.duplicated().value_counts()

False    47884
True      3009
dtype: int64

In [530]:
convNameNotNull.drop_duplicates(inplace = True)

In [531]:
convNameNotNull.duplicated().value_counts()

False    47884
dtype: int64

In [533]:
convNameNotNull[convNameNotNull['도로명'].isna()]

Empty DataFrame
Columns: [인허가일자, 도로명주소, 사업장명, 도로명]
Index: []

In [534]:
convNameNotNull.rename(columns = {'인허가일자':'startDate', '도로명주소':'address', '사업장명':'name', '도로명':'loadAddress'}, inplace = True)
convNameNotNull['index'] = 0
for i in range(convNameNotNull.shape[0]):
    convNameNotNull.iloc[i,4] = i
convNameNotNull['startDate'] = convNameNotNull['startDate'].apply(lambda x: str(int(x)))

In [536]:
convNameNotNull[convNameNotNull['loadAddress'].isna()]

Empty DataFrame
Columns: [startDate, address, name, loadAddress, index]
Index: []

### convNameNotNull 중복 없음

In [539]:
convNameNotNull.duplicated().value_counts()

False    47884
dtype: int64

In [85]:
db_connection_str = 'mysql+pymysql://root:jycforest@localhost/pharmacy'
db_connection = sqlalchemy.create_engine(db_connection_str)
conn = db_connection.connect()

In [540]:
convtypesql = {
    'loadAddress':sqlalchemy.types.VARCHAR(30),
    'name':sqlalchemy.types.VARCHAR(30),
    'address':sqlalchemy.types.VARCHAR(150),
    'startDate':sqlalchemy.types.VARCHAR(30),
    'index':sqlalchemy.types.Integer()
}

In [541]:
convNameNotNull.to_sql(name = 'convenience', con = db_connection, if_exists = 'replace', index = False, dtype = convtypesql)

47884

### <Pharmacy Database의 PharmacyLocation 생성 및 데이터 insert 과정>

### HospitalMerge, PharmacyMerge, ConvenienceMerge에서 도로명, 우편번호 등 빠져있는 행들 데이터 수동 입력

In [544]:
pharmacyMerge[pharmacyMerge['법정동명'].isna()]

Empty DataFrame
Columns: [우편번호, 도로명, 법정동명, 요양기관명, 주소, 개설일자, 약국수]
Index: []

In [509]:
convMerge.at[33032, '도로명'] = '잠원로'
convMerge.at[33032, '법정동명'] = '잠원동'
convMerge.at[33032, '도로명주소'] = '서울 서초구 잠원로 221-124'

In [511]:
tmpList = convMerge[convMerge['법정동명'].isna()].index

In [512]:
tmpList

Int64Index([ 1165, 12648, 13270, 16337, 21449, 21924, 21925, 25425, 27024,
            27074, 33031, 33774, 33793, 33877, 34283, 45249],
           dtype='int64')

In [513]:
for i in range(len(tmpList)):
    convMerge.iloc[tmpList[i],5]= convMerge.loc[tmpList[i]]['도로명주소'].split(' ')[2]
    convMerge.iloc[tmpList[i],6] = convMerge.loc[tmpList[i]]['도로명주소'].split(' ')[-1][1:-1]

In [518]:
convMerge.loc[convMerge['사업장명'] == '씨유 당산역점']

,영업상태명,인허가일자,도로명주소,우편번호,사업장명,도로명,법정동명
34283,영업/정상,20140609.0,서울특별시 영등포구 당산로 124 110-2호 (당산동5가 당산래미안제상가1동),150045.0,씨유 당산역점,당산로,당산동5가

In [516]:
convMerge.iloc[34283,6] = '당산동5가'

In [519]:
tmp = convMerge.loc[convMerge['도로명'] == '당산로']

In [520]:
tmp.loc[tmp['법정동명'] == '당산동5가']

,영업상태명,인허가일자,도로명주소,우편번호,사업장명,도로명,법정동명
33831,영업/정상,20121113.0,서울특별시 영등포구 선유동2로 40 (당산동5가),7213.0,지에스25 영등포당산점,당산로,당산동5가
33837,영업/정상,20151019.0,서울특별시 영등포구 양평로 67 105호 (당산동5가 당산역 한강포스빌),7213.0,미니스톱 당산포스빌점,당산로,당산동5가
33843,영업/정상,20160513.0,서울특별시 영등포구 당산로 203-0 1층 108호 (당산동5가 데시앙루브오피스텔),7213.0,(주)코리아세븐 당산데시앙점,당산로,당산동5가
33849,영업/정상,20160518.0,서울특별시 영등포구 당산로45길 1-0 (당산동5가 당산 삼성쉐르빌),7213.0,지에스25 당산쉐르빌,당산로,당산동5가
33855,영업/정상,20160616.0,서울특별시 영등포구 양평로 49 (당산동5가 대림빌딩),7213.0,지에스25 당산엔씨점,당산로,당산동5가
33861,영업/정상,20170306.0,서울특별시 영등포구 당산로 205 104호 (당산동5가 당산역해링턴타워),7213.0,지에스25 당산효성점,당산로,당산동5가
34283,영업/정상,20140609.0,서울특별시 영등포구 당산로 124 110-2호 (당산동5가 당산래미안제상가1동),150045.0,씨유 당산역점,당산로,당산동5가
56890,NaN,NaN,NaN,7214.0,NaN,당산로,당산동5가

### hospitalCount : 도로명별 병원 개수, 총의사수 데이터프레임

In [545]:
hospitalMerge['병원수'] = 0
for i in range(hospitalMerge.shape[0]):
    if pd.isna(hospitalMerge.iloc[i, 3]) == False:
        hospitalMerge.iloc[i, 8] = 1
hospitalCount = hospitalMerge.groupby('도로명')[['총의사수', '병원수']].sum()
hospitalCount.reset_index(inplace = True)       
hospitalCount['총의사수'] = hospitalCount['총의사수'].fillna(0)

In [546]:
hospitalMerge.duplicated().value_counts()

False    109025
dtype: int64

### pharmacyCount : 도로명별 약국 개수 데이터프레임

In [549]:
pharmacyMerge['약국수'] = 0
for i in range(pharmacyMerge.shape[0]):
    if pd.isna(pharmacyMerge.iloc[i, 3]) == False:
        pharmacyMerge.iloc[i, 6] = 1
pharmacyCount = pharmacyMerge.groupby('도로명')['약국수'].sum()  
pharmacyCount = pharmacyCount.to_frame('약국수')
pharmacyCount.reset_index(inplace = True)

In [550]:
pharmacyMerge.duplicated().value_counts()

False    51822
dtype: int64

In [552]:
convMerge['편의점수'] = 0   
for i in range(convMerge.shape[0]):
    if pd.isna(convMerge.iloc[i, 4]) == False:
        convMerge.iloc[i, 7] = 1 
convCount = convMerge.groupby('도로명')['편의점수'].sum()
convCount = convCount.to_frame('편의점수')
convCount.reset_index(inplace = True)

In [555]:
hospitalCount.duplicated().value_counts()

False    13853
dtype: int64

In [556]:
pharmacyCount.duplicated().value_counts()

False    13853
dtype: int64

In [554]:
convCount.duplicated().value_counts()

False    13853
dtype: int64

### pharmacyLocation : 도로명에 따라 hospitalCount, pharmacyCount 병합한 데이터프레임. 병합 중 nan은 0으로 치환

In [557]:
tmp = pd.merge(hospitalCount, pharmacyCount, how = 'outer', on = '도로명')
pharmacyLocation = pd.merge(tmp, convCount, how = 'outer', on = '도로명')

In [558]:
pharmacyLocation.duplicated().value_counts()

False    13853
dtype: int64

In [559]:
pharmacyLocation.rename(columns = {'병원수':'hospitalCount', '총의사수':'doctorCount', '약국수':'pharmacyCount','편의점수': 'convenienceCount'}, inplace = True)

In [560]:
# inner 해도 행 개수 똑같음
tmp = pd.merge(pharmacyLocation, hospitalMerge ,how = 'left', on = '도로명')
tmp = tmp[['도로명', 'doctorCount', 'hospitalCount','pharmacyCount',  'convenienceCount', '법정동명']]
tmp.rename(columns = {'도로명':'loadAddress', '법정동명':'dong'}, inplace = True)
tmp.drop_duplicates(inplace = True)

In [ ]:
# c.f) 데이터 개수 차이 이유

In [561]:
tmp.loc[tmp['loadAddress'] == '강남대로']

,loadAddress,doctorCount,hospitalCount,pharmacyCount,convenienceCount,dong
1435,강남대로,1860.0,952,147,133,논현동
1632,강남대로,1860.0,952,147,133,도곡동
1679,강남대로,1860.0,952,147,133,신사동
1754,강남대로,1860.0,952,147,133,압구정동
1755,강남대로,1860.0,952,147,133,역삼동
1981,강남대로,1860.0,952,147,133,반포동
2040,강남대로,1860.0,952,147,133,서초동
2293,강남대로,1860.0,952,147,133,양재동
2322,강남대로,1860.0,952,147,133,잠원동

In [562]:
pharmacyLocation.loc[pharmacyLocation['도로명'] == '강남대로']

      도로명  doctorCount  hospitalCount  pharmacyCount  convenienceCount
225  강남대로       1860.0            952            147               133

In [563]:
# nan 없음
tmp.isnull().values.any()

False

In [564]:
pharmacyLocation = tmp

In [565]:
pharmacyLocation.duplicated().value_counts()

False    16396
dtype: int64

In [566]:
pharmacyLocation['hospitalPerPharmacy'] = 0
pharmacyLocation['doctorPerPharmacy'] = 0
pharmacyLocation['conveniencePerPharmacy'] = 0
pharmacyLocation['index'] = 0
pharmacyLocation['viewCount'] = 0

In [567]:
pharmacyLocation

,loadAddress,doctorCount,hospitalCount,pharmacyCount,convenienceCount,dong,hospitalPerPharmacy,doctorPerPharmacy,conveniencePerPharmacy,index,viewCount
0,4.19로,1.0,1,1,3,수유동,0,0,0,0,0
9,4.19로11길,0.0,0,0,3,수유동,0,0,0,0,0
10,4.19로12길,0.0,0,0,0,수유동,0,0,0,0,0
11,4.19로13길,0.0,0,0,3,수유동,0,0,0,0,0
13,4.19로17길,0.0,0,0,0,수유동,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
109016,희우정로20길,1.0,1,1,5,망원동,0,0,0,0,0
109019,희우정로21길,0.0,0,0,3,망원동,0,0,0,0,0
109021,희우정로3길,0.0,0,0,3,합정동,0,0,0,0,0
109023,희우정로5길,0.0,0,0,2,합정동,0,0,0,0,0
109024,희우정로7길,0.0,0,0,2,합정동,0,0,0,0,0

In [568]:
# 병원수 대비 약국수
for i in range(pharmacyLocation.shape[0]):
#     약국수가 0일때
    if pharmacyLocation.iloc[i,3] == 0:
        pharmacyLocation.iloc[i,6] = -1
#         병원수가 0일때
    elif pharmacyLocation.iloc[i,2] == 0:
        pharmacyLocation.iloc[i,6] = 0
    else:
        pharmacyLocation.iloc[i,6] = pharmacyLocation.iloc[i,2] / pharmacyLocation.iloc[i,3] 
# 의사수 대비 약국수
for i in range(pharmacyLocation.shape[0]):
#     약국수가 0일때
    if pharmacyLocation.iloc[i,3] == 0:
        pharmacyLocation.iloc[i,7] = -1
#         의사수가 0일때  
    elif pharmacyLocation.iloc[i,1] == 0:
        pharmacyLocation.iloc[i,7] = 0
    else:
        pharmacyLocation.iloc[i,7] = pharmacyLocation.iloc[i,1] / pharmacyLocation.iloc[i,3]  
# 편의점수 대비 약국수
for i in range(pharmacyLocation.shape[0]):
#     약국수가 0일때
    if pharmacyLocation.iloc[i,3] == 0:
        pharmacyLocation.iloc[i,8] = -1
#         편의점수가 0일때       
    elif pharmacyLocation.iloc[i,4] == 0:
        pharmacyLocation.iloc[i,8] = 0
    else:
        pharmacyLocation.iloc[i,8] = pharmacyLocation.iloc[i,4] / pharmacyLocation.iloc[i,3]  
for i in range(pharmacyLocation.shape[0]):
    pharmacyLocation.iloc[i,9] = i

In [431]:
pharmacyLocation

,loadAddress,doctorCount,hospitalCount,pharmacyCount,convenienceCount,dong,hospitalPerPharmacy,doctorPerPharmacy,conveniencePerPharmacy,index,viewCount
0,4.19로,1.0,1,1,3,수유동,1.0,1.0,3.0,0,0
9,4.19로11길,0.0,0,0,3,수유동,-1.0,-1.0,-1.0,1,0
10,4.19로12길,0.0,0,0,0,수유동,-1.0,-1.0,-1.0,2,0
11,4.19로13길,0.0,0,0,3,수유동,-1.0,-1.0,-1.0,3,0
13,4.19로17길,0.0,0,0,0,수유동,-1.0,-1.0,-1.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...
109016,희우정로20길,1.0,1,1,5,망원동,1.0,1.0,5.0,16391,0
109019,희우정로21길,0.0,0,0,3,망원동,-1.0,-1.0,-1.0,16392,0
109021,희우정로3길,0.0,0,0,3,합정동,-1.0,-1.0,-1.0,16393,0
109023,희우정로5길,0.0,0,0,2,합정동,-1.0,-1.0,-1.0,16394,0
109024,희우정로7길,0.0,0,0,2,합정동,-1.0,-1.0,-1.0,16395,0

### MYSQL의 pharmacy database에 테이블 생성 후 데이터 insert

In [569]:
pharmacyLocationdtypesql = {
    'loadAddress':sqlalchemy.types.VARCHAR(30),
    'hospitalCount':sqlalchemy.types.Integer(),
    'doctorCount':sqlalchemy.types.Integer(),
    'pharmacyCount':sqlalchemy.types.Integer(),
    'convenienceCount':sqlalchemy.types.Integer(),
    'dong':sqlalchemy.types.VARCHAR(11),
    'hospitalPerPharmacy':sqlalchemy.types.Float(),
    'doctorPerPharmacy':sqlalchemy.types.Float(),
    'conveniencePerPharmacy':sqlalchemy.types.Float(),
    'index':sqlalchemy.types.Integer(),
    'viewCount':sqlalchemy.types.Integer()
}
pharmacyLocation.to_sql(name = 'pharmacyLocation', con = db_connection, if_exists = 'replace', index = False, dtype = pharmacyLocationdtypesql)

C:\Users\USER\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'pharmacyLocation' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

16396