In [2]:
import pandas as pd
import sqlalchemy

### Pharmacy Database의 Line, Station table 생성 및 데이터 insert 과정

In [16]:
seoulMetro1 = pd.read_csv('src/csv/seoulMetro1.csv', encoding = "cp949")
seoulMetro2 = pd.read_csv('src/csv/seoulMetro2.csv', encoding = "cp949")
seoulMetro3 = pd.read_csv('src/csv/seoulMetro3.csv', encoding = "cp949")

In [17]:
seoulMetro1 = seoulMetro1[['호선', '역명', '구주소']]
seoulMetro2 = seoulMetro2[['선명', '역명', '지번주소']]
seoulMetro3 = seoulMetro3[['선명', '역명', '지번주소']]

In [18]:
seoulMetro1 = seoulMetro1.loc[seoulMetro1['구주소'].str.contains('서울특별시') == True]
seoulMetro2 = seoulMetro2.loc[seoulMetro2['지번주소'].str.contains('서울특별시') == True]
seoulMetro3 = seoulMetro3.loc[seoulMetro3['지번주소'].str.contains('서울특별시') == True]

In [7]:
# seoulSubway = pd.read_csv('src/csv/seoulSubway.csv', encoding = "cp949")

In [12]:
seoulSubway = seoulSubway[['전철역명', '호선']]

In [50]:
seoulSubway = seoulSubway.rename(columns = {'전철역명':'name'})

### seoulMetro2, seoulMetro3 병합

In [19]:
tmp = pd.merge(seoulMetro2, seoulMetro3, on = '역명', how = 'outer')

In [20]:
for i in range(tmp.shape[0]):
    if pd.isna(tmp.iloc[i,0]) == True and pd.isna(tmp.iloc[i,3]) == False:
        tmp.iloc[i,0] = tmp.iloc[i,3]
    elif pd.isna(tmp.iloc[i,3]) == True and pd.isna(tmp.iloc[i,0]) == False:
        tmp.iloc[i,3] = tmp.iloc[i,0]

In [21]:
for i in range(tmp.shape[0]):
    if pd.isna(tmp.iloc[i,2]) == True and pd.isna(tmp.iloc[i,4]) == False:
        tmp.iloc[i,2] = tmp.iloc[i,4]
    elif pd.isna(tmp.iloc[i,4]) == True and pd.isna(tmp.iloc[i,2]) == False:
        tmp.iloc[i,4] = tmp.iloc[i,2]

In [22]:
tmp = tmp[['선명_x', '역명', '지번주소_x']]

In [23]:
tmp.drop_duplicates(inplace = True)

In [96]:
# result = pd.merge(seoulMetro1, result, on = '역명', how = 'outer')

### seoulMetro1, tmp 병합

In [24]:
result = pd.merge(seoulMetro1, tmp, how = 'outer')

In [25]:
for i in range(result.shape[0]):
    if pd.isna(result.iloc[i,0]) == True and pd.isna(result.iloc[i,3]) == False:
        result.iloc[i,0] = result.iloc[i,3]
    elif pd.isna(result.iloc[i,3]) == True and pd.isna(result.iloc[i,0]) == False:
        result.iloc[i,3] = result.iloc[i,0]

In [26]:
for i in range(result.shape[0]):
    if pd.isna(result.iloc[i,2]) == True and pd.isna(result.iloc[i,4]) == False:
        result.iloc[i,2] = result.iloc[i,4]
    elif pd.isna(result.iloc[i,4]) == True and pd.isna(result.iloc[i,2]) == False:
        result.iloc[i,4] = result.iloc[i,2]

In [27]:
result = result[['호선', '역명', '구주소']]

In [28]:
result.drop_duplicates(inplace = True)

In [29]:
for i in range(result.shape[0]):
    result.iloc[i, 2] = result.iloc[i, 2].split(' ')[2]

In [246]:
result

      호선          역명     구주소
0    2호선          봉천     봉천동
1    1호선          서울  남대문로5가
2    4호선          서울     동자동
3    1호선          시청      정동
5    2호선          시청    서소문동
..   ...         ...     ...
385  3호선  교대(법원·검찰청)     서초동
386  2호선         낙성대     봉천동
387  4호선          미아     미아동
388  4호선       미아사거리     미아동
389  7호선         용마산     면목동

[334 rows x 3 columns]

### location: 우체국의 우편번호 db 데이터프레임

In [30]:
location = pd.read_csv('src/txt/seoul.txt', sep = "|")

### locationSubway의 필요한 칼럼 추출 및 '시군구용건물명' 칼럼의 value 중 '역'으로 끝나는 value를 포함하는 행만 추출

In [31]:
location = location[['시군구용건물명', '법정동명']]
location = location.loc[location['시군구용건물명'].str.endswith('역') == True]
location.drop_duplicates(inplace = True)

In [32]:
tmpLocation = location.groupby('시군구용건물명').count()
tmpLocation.loc[tmpLocation['법정동명']>=2]

         법정동명
시군구용건물명
공덕역         2
대림역         2
신길역         2
합정역         2

In [33]:
location.loc[location['시군구용건물명'] == '합정역']

       시군구용건물명 법정동명
264032     합정역  서교동
275183     합정역  합정동

### location의 역 중 동이 2개 이상인데 result에는 반영 안된 값들을 result에 수동 추가

In [34]:
result.loc[result['역명'] == '합정']

     호선  역명  구주소
89  2호선  합정  서교동
91  6호선  합정  합정동

In [35]:
result = result.append({'호선':'5호선', '역명':'공덕', '구주소':'도화동'}, ignore_index = True)
result = result.append({'호선':'6호선', '역명':'공덕', '구주소':'도화동'}, ignore_index = True)
# 대림역 없어서 추가
result = result.append({'호선':'2호선', '역명':'대림', '구주소':'구로동'}, ignore_index = True)
result = result.append({'호선':'2호선', '역명':'대림', '구주소':'대림동'}, ignore_index = True)
result = result.append({'호선':'7호선', '역명':'대림', '구주소':'구로동'}, ignore_index = True)
result = result.append({'호선':'7호선', '역명':'대림', '구주소':'대림동'}, ignore_index = True)

result = result.append({'호선':'5호선', '역명':'신길', '구주소':'신길동'}, ignore_index = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'5호선', '역명':'공덕', '구주소':'도화동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'6호선', '역명':'공덕', '구주소':'도화동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'2호선', '역명':'대림', '구주소':'구로동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'2호선', '역명':'대림', '구주소':'대림동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'7호선', '역명':'대림', '구주소':'구로동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'7호선', '역명':'대림', '구주소':'대림동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\4222919095.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'5호선', '역명':'신길', '구주소':'신길동'}, ignore_index = True)

### 서울에 속하는 신분당선 역들 수동으로 데이터프레임에 추가

In [36]:
result = result.append({'호선':'신분당선', '역명':'청계산입구', '구주소':'신원동'}, ignore_index = True)
result = result.append({'호선':'신분당선', '역명':'양재', '구주소':'서초동'}, ignore_index = True)
result = result.append({'호선':'신분당선', '역명':'양재', '구주소':'양재동'}, ignore_index = True)
result = result.append({'호선':'신분당선', '역명':'강남', '구주소':'역삼동'}, ignore_index = True)
result = result.append({'호선':'신분당선', '역명':'양재시민의숲', '구주소':'양재동'}, ignore_index = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_18320\2410853300.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'신분당선', '역명':'청계산입구', '구주소':'신원동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\2410853300.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'신분당선', '역명':'양재', '구주소':'서초동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\2410853300.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'신분당선', '역명':'양재', '구주소':'양재동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\2410853300.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'신분당선', '역명':'강남', '구주소':'역삼동'}, ignore_index = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_18320\2410853300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'호선':'신분당선', '역명':'양재시민의숲', '구주소':'양재동'}, ignore_index = True)

### 데이터프레임 전처리

In [37]:
result['역명'] = result['역명'].apply(lambda x: x+'역')

In [38]:
result['index'] = 0
for i in range(result.shape[0]):
    result.iloc[i,3] = i

In [39]:
result.rename(columns = {'역명':'name', '구주소':'dong', '호선':'line'}, inplace = True)

In [40]:
for i in range(result.shape[0]):
    if (result.iloc[i,0] == '경의중앙') or (result.iloc[i,0] == '수인분당') or (result.iloc[i,0]== '경춘'):
        result.iloc[i,0] = result.iloc[i,0] + '선'

### name이 서울역역인 row의 name을 서울역으로 변환

In [41]:
result.iloc[315, 1] = '서울역'

In [42]:
result.loc[result['name'] == '서울역']

      line name    dong  index
1      1호선  서울역  남대문로5가      1
2      4호선  서울역     동자동      2
315  경의중앙선  서울역     봉래동    315

### 호선별 역 개수

In [266]:
result['line'].value_counts()

2호선      55
5호선      55
7호선      42
6호선      40
3호선      34
1호선      29
4호선      29
경의중앙선    17
9호선      13
8호선      11
수인분당선    10
경춘선       6
신분당선      5
Name: line, dtype: int64

In [51]:
seoulSubway

      name    호선
0       신답  02호선
1      무악재  03호선
2      독립문  03호선
3      경복궁  03호선
4       안국  03호선
..     ...   ...
762    동묘앞  01호선
763    까치산  02호선
764     시청  02호선
765  을지로입구  02호선
766     대곡   경의선

[767 rows x 2 columns]

In [57]:
all = pd.merge(result, seoulSubway, how = 'outer')

In [61]:
all_stations = seoulSubway['name']
all_stations.drop_duplicates(inplace = True)

In [54]:
stations = result['name']
stations.drop_duplicates(inplace = True)

In [59]:
stations

0          봉천역
1          서울역
3          시청역
5          종각역
6        종로3가역
        ...
333       용마산역
336        대림역
341     청계산입구역
342        양재역
345    양재시민의숲역
Name: name, Length: 287, dtype: object

In [62]:
all_stations

0         신답
1        무악재
2        독립문
3        경복궁
4         안국
       ...
754       시청
755       종각
757     종로5가
760      제기동
765    을지로입구
Name: name, Length: 638, dtype: object

### DB에 insert

In [267]:
db_connection_str = 'mysql+pymysql://root:jycforest@localhost/pharmacy'
db_connection = sqlalchemy.create_engine(db_connection_str)
conn = db_connection.connect()
stationdtypesql = {
    'line':sqlalchemy.types.VARCHAR(11),
    'name':sqlalchemy.types.VARCHAR(30),
    'dong':sqlalchemy.types.VARCHAR(11),
    'index':sqlalchemy.types.Integer()
}
result.to_sql(name = 'station', con = db_connection, if_exists = 'replace', index = False, dtype = stationdtypesql)

346

### line 데이터프레임

In [162]:
line = result['line'].to_frame('name')
line.drop_duplicates(inplace = True)
line['color'] = ''
line.sort_values(by = ['name'], inplace = True)

In [621]:
line.iloc[12, 1] = '#971F2D'

In [623]:
# linedtypesql = {
#     'name':sqlalchemy.types.VARCHAR(11),
#     'color':sqlalchemy.types.VARCHAR(11)
# }
# line.to_sql(name = 'line', con = db_connection, if_exists = 'replace', index = False, dtype = linedtypesql)

13